@import url("animation.css");

/* start menu */
.startMenuContainer{
    justify-content: center;
    width: 67%;
    padding: 2% 17.5% 10%;
    align-items: center;
    display:inline-block; 
  }
  
  
  .sugg{
    width: 51%;
    display:inline-block; 
    margin: 0.3em 2.5% 0.3em 0;
  }
  
  .sizeSelect{
    width: 20.5%;
    display:inline-block;
    margin: 0em 2.5% 0em 0;
  }
  .modeSelect{
    width: 20.5%;
    display:inline-block;
    margin: 0em 2.5% 0em 0;
  }
  