@import url("styleElements/header.css");
@import url("styleElements/startMenu.css");
@import url("styleElements/tile.css");
@import url("styleElements/resetButton.css");
@import url("styleElements/restartButton.css");
@import url("styleElements/winner.css");
@import url("styleElements/scoreLabel.css");

/*body*/

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
body{
  background-color:  white;
  
  background: radial-gradient(
                    white 40%,
                    rgba(251, 178, 249, 0.735) 70%,
                    rgba(214, 135, 237, 0.735) 85%,
                    rgb(184, 121, 243) 99% 
  );
  color:black;
  justify-content: center;
  align-items: center;


}


a:link { color: white; }
a:visited { color: black; }
a:hover { color: aqua; }
a:active { color: blueviolet; text-decoration:none; font-weight:normal; }

